# Ignore everything in the .idea directory...
*
# except the following files and directories... (prefix with "!" to negate the ignore rule)
!artifacts/   # IntelliJ IDEA artifacts
!codeStyles/  # Code style settings
!modules.xml  # Module settings
!misc.xml     # Miscellaneous settings (including JDK configuration)